<div class="vertical-navbar">
   <!----<nav *ngIf="authService.isLoggedIn()">-->
        <nav>
      <ul>
        <li><a routerLink="/onboard-facility">Onboard Facility</a></li>
        <li><a routerLink="/onboard-seats">Onboard Seats</a></li>
        <li><a routerLink="/onboard-employees">Onboard Employees</a></li>
        <li><a routerLink="/seat-allocation">Seat Allocation</a></li>
        <li><a routerLink="/seat-deallocation">Seat Deallocation</a></li>
        <li><a routerLink="/cabin-allocation">Cabin Allocation</a></li>
        <li><a routerLink="/cabin-deallocation">Cabin Deallocation</a></li>
        <li><a routerLink="/add-asset">Add Asset</a></li>
        <li><a routerLink="/free-seat-report">Free Seat Report</a></li>
        <li><a routerLink="/onboard-city">Onboard City</a></li>
        <li><a routerLink="/onboard-building">Onboard Building</a></li>
        <li><a routerLink="/onboard-cabins">Onboard Cabins</a></li>
        <li><a routerLink="/onboard-meeting-rooms">Onboard Meeting Rooms</a></li>
        <li><a routerLink="/onboard-meeting-room-assets">Onboard MeetingRoomAsset</a></li>
        <li><a routerLink="/onboard-department">Onboard Department</a></li>
      </ul>
    </nav>
  </div>
  